# JetPack 6.2.x / L4T R36.4.x example for Jetson AGX Orin.
CUDA_VERSION=12.6.3
UBUNTU_VERSION=22.04
GCC_VERSION=11
BUILD_JOBS=2
CUDA_ARCH=87-real
BASE_CUDA_DEV_CONTAINER=docker.io/nvidia/cuda:12.6.3-devel-ubuntu22.04
BASE_CUDA_RUN_CONTAINER=nvcr.io/nvidia/l4t-cuda:12.6.11-runtime
